*{word-wrap:break-word;}
body{background:#EBEDF0}
body,input,button,select,textarea{font-family: Microsoft YaHei,Helvitica,STHeiti,Tahoma,SimHei,Hei,Verdana,Arial,san-serif;}
textarea{resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}
caption,th{text-align:left;font-weight:400;}
ul li,.xl li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
em,cite{font-style:normal;}
a{/*color:#333;*/text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:none;}
label{cursor:pointer;}

header
{
	display: block;
	width: 100%;
	height: 30px;
}

header nav
{
	display: block;
	width: 50%;
	height: 30px;
	float: left;
}

header nav ul li
{
	float: left;
	width: 100px;
}

.admindiv
{
	display: block;
	width: 50%;
	height: 30px;
	float: right;
	text-align: right;
}

.uploaddiv
{
	margin-top: 100px;
}

.itemline
{
	display: inline;
	width: 100%;
}

.itemline .itemleft
{
	float: left;
	width: 30%;
	text-align: right;
}

.itemline .itemright
{
	float: left;
	width: 70%;
	text-align: left;
}

.submititemline
{
	display: inline;
	width: 100%;
}

.submititemline .itemleft
{
	float: left;
	width: 40%;
	text-align: right;
}

.submititemline .itemright
{
	float: left;
	width: 40%;
	text-align: left;
}